.table1 {
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
    border: 1px solid rgba(172, 172, 172, 0.4);
}

.thead1 {
    text-align: left;
    background-color: orange;
    color: white;
}

.thead1 th {
    text-align: center;
}

.thead1 th,
.tbody1 td {
    padding: 0px 10px;
    font-size: 13px;
    border: 1px solid rgba(172, 172, 172, 0.4);
}

.tbody1 td:nth-child(1),
.tbody1 td:nth-child(2),
.tbody1 td:nth-child(6) {
    padding: 0;
    text-align: center;
}

.tbody1 td:nth-child(5) {
    text-align: right;
}

@media (max-width:650px) {
    .table-container {
        width: 100dvw;
        overflow-x: scroll !important;

        .table1 {
            width: 650px !important;
        }
    }
}

.pdf_styles {
    position: relative;
    overflow: hidden;
    display: none;
    color: #fff;
    background-color: #212B36;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border:1px solid #212B36;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        transform: skew(45deg);
        background: linear-gradient(to left,
                #B6BBC4 0%,
                rgba(255, 255, 255, 0.2) 60%,
                rgba(255, 255, 255, 0));
        animation: shine 1.2s ease-in-out infinite alternate-reverse;
    }
}

.pdf_styles:hover {
    background-color: #000;
}

@keyframes shine {
    0% {
        left: -150%;
    }

    25% {
        left: 100%;
    }

    50% {
        left: 100%;
    }

    75% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}